{{ define "main" }}
<article>
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <ul class="posts">
    {{ range .Pages.ByDate.Reverse }}
    <li>
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
      <a class="item-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ with .Description }}<span class="desc">{{ . }}</span>{{ end }}
      {{ with partial "tags.html" . }}<span class="tags">{{ . }}</span>{{ end }}
    </li>
    {{ end }}
  </ul>
</article>
{{ end }}
